[submodule "tools/builder"]
	path = tools/builder
	url = git://github.com/silentroach/chrome-extension-builder.git
[submodule "src/_locales"]
	path = src/_locales
	url = git://github.com/silentroach/twic-i18n.git
