/**
 * Kalashnikov Igor <igor.kalashnikov@gmail.com>
 * Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
 */

.timeline32 .avatar {
	max-width: 32px;
	}

.timeline32 li.tweet p {
	padding-left: 39px;
	}

.timeline32 li.tweet.retweet a.avatar img.avatar {
	max-width: 26px;
	}

.timeline32 li.tweet.retweet a.avatar.retweeter img.avatar {
	max-width: 16px;
	}

.timeline32 li.tweet.retweet a.avatar.retweeter {
	margin-left: -16px;
	margin-top: 16px;
	}

.timeline32 li.tweet .tweetEditor {
	padding-left: 33px;
	}
