.tweetEditor {
	width: 372px;
	margin-left: 2px;
	}
	.tweetEditor .rb {
		float: right;
		display: none;
		margin-bottom: 4px;
		margin-right: -10px;
		}
		.tweetEditor .rb > * {
			vertical-align: middle;
			margin-left: 10px;
			}
	.tweetEditor .attach {
		cursor: pointer;
		}
	.tweetEditor .attach.disabled {
		opacity: .5;
		cursor: default;
		}
	/** button to send tweet **/
	.tweetEditor input {
		font-size: 8pt;
		}
	.tweetEditor textarea {
		width: 100%;
		max-width: 100%;
		font-size: 9pt;
		padding: .3em;
		background-color: rgba(255, 255, 255, .7);
		/** do not allow textarea resize **/
		resize: none;
		}
	/** char counter **/
	.tweetEditor span {
		float: left;
		font-style: italic;
		font-size: 12pt;
		padding-top: 3px;
		display: none;
		min-width: 24px; /* for animation to exists when it is empty */
		opacity: .3;
		-webkit-transition: opacity 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		}

/** tweet editor is focused **/
.tweetEditor.focused span,
.tweetEditor.focused .rb {
	display: block;
	}

/** too much characters in the textarea **/
.tweetEditor.overload span {
	color: red;
	font-weight: bold;
	opacity: 1;
	}
.tweetEditor.overload textarea {
	background-color: rgba(255, 0, 0, .1);
	}

/** sending state **/
.tweetEditor.sending span {
	background: url('/img/loader.gif') no-repeat 2px;
	color: transparent;
	}

/** suggest list **/
.tweetEditor .suggest {
	padding: 1px;
	font-size: 8pt;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	margin: -4px 0 3px 0;
	background-color: white;
	z-index: 10;
	display: table;
	border-top: 0px;
	}
	.tweetEditor .suggest li {
		padding: 2px 3px;
		display: inline-block;
		border-right: 1px solid rgba(0, 0, 0, .05);
		}
			.tweetEditor .suggest li:last-child {
				border-right: 0px;
				}
		.tweetEditor .suggest li:hover,
		.tweetEditor .suggest li.selected {
			background-color: silver;
			cursor: pointer;
			background-color: rgba(0, 0, 0, .1);
			}

