/**
 * Kalashnikov Igor <igor.kalashnikov@gmail.com>
 * Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
 */

/* do not display twitter message about PIN code return to Twic */
#code-desc {
	display: none;
	}

/* make message window font smaller */
kbd {
	font-size: 16pt;
	font-family: sans-serif !important;
	}
