/**
 * Kalashnikov Igor <igor.kalashnikov@gmail.com>
 * Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
 */

body {
	padding: 1em;
	width: 300px;
	margin: 1em auto;
	}

#tabs {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding-bottom: 4px;
	}
	#tabs li span {
		-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
		padding: 2px 7px;
		padding-bottom: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		margin: 0 5px;
		}
		#tabs li.active span {
			border-bottom: 3px solid #f7f7f7;
			}

#content {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	}
	#content ul {
		padding: .7em;
		}

#ui ul.avatars li {
	display: inline;
	margin-right: .5em;
	}

#content ul.options {
	margin: .7em;
	}
	#content ul.options li img {
		border: 1px solid rgba(0, 0, 0, .1);
		-webkit-transition: border .2s ease-in-out;
		}
		#content ul.options li.selected img {
			border: 1px solid black;
			}
	#content ul.options li:hover {
		cursor: pointer;
		}
		#content ul.options li:hover img {
			border: 1px solid #757575;
			}
