/**
 * Kalashnikov Igor <igor.kalashnikov@gmail.com>
 * Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
 */

#about .info {
	text-align: center;
	padding: 1em;
	}
	#about .info p:last-of-type {
		margin-bottom: 1em;
		}

#about hr {
	margin-top: 1em;
	margin-bottom: 1em;
	}

#athanks, #aname, #acontributors {
	font-weight: bold;
	}
