/**
 * Kalashnikov Igor <igor.kalashnikov@gmail.com>
 * Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
 */

#about .info {
	text-align: center;
	padding: 1em;
	}

#about hr {
	margin-top: 1em;
	margin-bottom: 1em;
	}

#athanks, #aname, #acontributors, #aauthor {
	font-weight: bold;
	}

#aname {
	font-size: 14pt;
	margin-bottom: .5em;
	text-shadow: white 1px 1px 0;
	}

/** u18n **/
#awhat:before            { content: '__MSG_about_what__' }
#about .toolbar p:before { content: '__MSG_toolbar_about__' }
#about .toolbar a:before { content: '__MSG_toolbar_accounts__' }
#aauthor:before          { content: '__MSG_about_author__' }
#acontributors:before    { content: '__MSG_about_contributors__' }
#athanks:before          { content: '__MSG_about_thanks__' }
