/**
 * Kalashnikov Igor <igor.kalashnikov@gmail.com>
 * Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
 */

.page {
    display: none;
    width: 390px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f7f7f7;
    }
    body.osx .page {
        border-radius: 5px;
        }

a.nick, a.hash {
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    }

p.loader {
    text-align: center;
    height: 30px;
    background: transparent url('/img/loader.gif') no-repeat center center;
    }

.loading {
    background: transparent url('/img/loader.gif') no-repeat left center !important;
    }

a.direct {
    opacity: .6;
    transition: opacity 0.2s ease-in-out;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-left: .1em;
    }
    a.direct:hover {
        opacity: 1;
        }

.aicon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    vertical-align: middle;
    }
    .aicon:hover {
        text-decoration: none;
        }
