.toolbar {
	border-bottom: 1px dotted silver;
	background-color: rgba(0, 0, 0, .05);
	padding: .5em .3em .3em .3em;
	margin-bottom: 4px;
	color: black;
	font-size: 9pt;
	-webkit-transition: background-color 0.2s ease-in-out;
	}
	.toolbar a.icon {
		margin: 0 10px;
		}
	.toolbar a.button {
		text-decoration: none;
		color: white;
		margin-right: .2em;
		border-bottom: 1px solid rgba(0, 0, 0, .25);
		border-radius: 5px;
		padding: 0px 5px;
		background-color: rgba(0, 0, 0, .5);
		font-weight: bold;
		}
	.toolbar p {
		display: inline;
		float: right;
		margin-right: .4em;
		text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
		}

.toolbar .clearer {
	margin-top: .4em;
	}

.toolbar.bottom {
	border-top: 1px dotted silver;
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: .5em;
	}

.toolbar.alert {
	background-color: rgba(255, 0, 0, .1);
	}
