ul.timeline {
	border-top: 1px dotted silver;
	font-size: 9pt;
	}
	ul.timeline li.tweet {
		padding: 0 .5em .1em 3px;
		border-bottom: 1px dotted grey;
		}
		ul.timeline li.tweet:last-child {
			border-bottom: 0px;
			}

div.tweetButtons {
	position: absolute;
	left: 0px;
	top: 50px;
	right: 2px;
	text-align: right;
	}
	div.tweetButtons ul {
		display: inline;
		padding: 3px 5px 0 7px;
		background-color: white;
		opacity: .9;
		border-bottom-left-radius: 6px;
		-webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, .3);
		}
		div.tweetButtons ul li {
			display: inline;
			}
