.tweetEditor {
	width: 97%;
	text-align: right;
	margin-left: 2px;
	}
	.tweetEditor textarea {
		width: 100%;
		max-width: 100%;
		font-size: 9pt;
		padding: .3em;
		background-color: rgba(255, 255, 255, .7);
		}
	/** button to send tweet **/
	.tweetEditor input {
		float: left;
		font-size: 8pt;
		display: none;
		margin-left: 0px;
		}
	/** char counter **/
	.tweetEditor span {
		font-style: italic;
		font-size: 12pt;
		padding-top: 2px;
		display: none;
		margin-right: -.4em;
		}

/** tweet editor is focused **/
.tweetEditor.focused span {
	display: block;
	}
.tweetEditor.focused input {
	display: block;
	}

/** too much characters in the textarea **/
.tweetEditor.overload span {
	color: rgba(255, 0, 0, 1);
	font-weight: bold;
	}
.tweetEditor.overload textarea {
	background-color: rgba(255, 0, 0, .1);
	}

/** sending state **/
.tweetEditor.sending span {
	background: url('/img/loader.gif') no-repeat right;
	}
