li.tweet {
	border-right: 3px solid transparent;
	-webkit-transition: border-right-color 0.1s ease-in-out;
	}
	li.tweet:hover {
		border-right-color: rgba(0, 128, 0, .3);
		}

li.tweet.me {
	background-color: rgba(100, 200, 0, .15);
	}

li.tweet.mention {
	background-color: rgba(0, 100, 200, .15);
	}

li.tweet.retweet {
	background-color: rgba(255, 255, 0, .15);
	}

li.tweet p {
	margin: 0;
	/** split long words **/
	word-wrap: break-word;
	padding: .3em 0 .3em 55px;
	}

li.tweet a.avatar {
 	padding-top: .4em;
	float: left;
	margin-right: .5em;
	}

li.tweet a.avatar.retweeter {
	margin-left: -30px;
	margin-top: 24px;
	}
	li.tweet a.avatar.retweeter img.avatar {
		max-width: 24px;
		background-color: rgba(0, 0, 0, .1);
		-webkit-box-shadow: -1px -1px 1px white;
		}
