li.tweet.mention {
	background-color: rgba(0, 100, 200, .10);
	}

li.tweet.me {
	background-color: rgba(100, 200, 0, .10);
	}

li.tweet.retweet {
	background-color: rgba(255, 255, 0, .10);
	}
	li.tweet.retweet img.avatar {
		max-width: 42px;
		}
		li.tweet.retweet a.avatar.retweeter {
			margin-left: -24px;
			margin-top: 24px;
			}
			li.tweet.retweet a.avatar.retweeter img.avatar {
				max-width: 24px;
				/* white background, specially for transparent png avatars */
				background-color: white;
				-webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, .3);
				}

li.tweet p {
	margin: 0;
	/** split long words **/
	word-wrap: break-word;
	padding: .3em 0 .3em 55px;
	}

li.tweet a.avatar {
 	padding-top: .4em;
	float: left;
	margin-right: .5em;
	}

li.tweet .tweetEditor {
	padding-left: 49px;
	width: 270px;
	}
