.tweetEditor {
	width: 320px;
	margin-left: 2px;
	}
	.tweetEditor textarea {
		width: 100%;
		max-width: 100%;
		font-size: 9pt;
		padding: .3em;
		background-color: rgba(255, 255, 255, .7);
		/** do not allow textarea resize **/
		resize: none;
		}
	/** button to send tweet **/
	.tweetEditor input {
		float: right;
		font-size: 8pt;
		display: none;
		margin-left: 0px;
		margin-bottom: 6px;
		margin-right: -8px;
		}
	/** char counter **/
	.tweetEditor span {
		float: left;
		font-style: italic;
		font-size: 12pt;
		padding-top: 3px;
		display: none;
		opacity: .3;
		-webkit-transition: opacity 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		}

/** tweet editor is focused **/
.tweetEditor.focused span {
	display: block;
	}
.tweetEditor.focused input {
	display: block;
	}

/** too much characters in the textarea **/
.tweetEditor.overload span {
	color: red;
	font-weight: bold;
	opacity: 1;
	}
.tweetEditor.overload textarea {
	background-color: rgba(255, 0, 0, .1);
	}

/** sending state **/
.tweetEditor.sending span {
	background: url('/img/loader.gif') no-repeat right;
	}
