#accounts {
	text-align: center;
	}
	#accounts ul {
		margin-top: 10px;
		margin-bottom: 30px;
		}
		#accounts ul li {
			display: inline-block;
			padding: 10px;
			}
			#accounts ul li a {
				display: block;
				text-decoration: none;
				}
				/* unread tweets count */
				#accounts ul li a .utweets {
					color: black;
					background-color: white;
					border: 1px solid grey;
					font-size: 8pt;
					padding: 0 4px;
					border-radius: 3px;
					margin-left: -10px;
					}
				
#accounts p {
	font-size: 12pt;
	padding: 1em;
	display: none;
	}
