#accounts {
	text-align: center;
	}
	#accounts ul {
		margin: 10px 0;
		}
		#accounts ul li {
			display: inline-block;
			padding: 10px;
			}
			#accounts ul li a {
				display: block;
				text-decoration: none;
				opacity: .7;
				-webkit-transition: all 0.2s ease-in-out;
				}
				#accounts ul li a:hover {
					opacity: 1;
					}
				/* unread tweets count */
				#accounts ul li a .utweets {
					color: black;
					background-color: white;
					border: 1px solid grey;
					font-size: 8pt;
					padding: 0 4px;
					border-radius: 3px;
					margin-left: -10px;
					}

#accounts p {
	font-size: 12pt;
	padding: 1em;
	display: none;
	}

#accounts .toolbar.bottom .container {
	padding: .5em 0 .2em 0;
	}