#profile .info {
	padding: .5em;
	}
	#profile .info .avatar {
		float: right;
		}
	#profile .info .location {
		padding-top: 1em;
		}
	#profile #followings p {
		margin-top: 1em;
		text-align: center;
		padding: .3em 0 .4em 0;
		border-radius: 5px;
		cursor: pointer;
		border: 1px solid rgba(0, 0, 0, .1);
		-webkit-transition: background-color 0.5s ease-in-out;
		}
		#profile #followings p:hover {
			/* simple hover on "follow" button */
			background-color: rgba(0, 0, 0, .05);
			}
		#profile #followings p span {
			background: url('/img/buttons/add.png') no-repeat left;
			padding-left: 24px;
			}
		#profile #followings p.following {
			/* following status background */
			background-color: rgba(0, 128, 0, .15);
			}
			#profile #followings p.following span {
				background: url('/img/buttons/following.png') no-repeat left;
				}
		#profile #followings p.following:hover {
			/* unfollow status background */
			background-color: rgba(255, 0, 0, .15);
			}
			#profile #followings p.following:hover span {
				background: url('/img/buttons/following_not.png') no-repeat left;
				}
