/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, em, img, small, strike, strong, sub, sup, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, canvas {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	}

body {
	line-height: 1;
	}

ol, ul {
	list-style: none;
	}

/* ========================================== */

body {
	width: 350px;
	height: auto;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, .03);
	line-height: 1.3;
	overflow-x: hidden;
	-webkit-user-select: none;
	}

body, input, textarea {
	font-family: "Trebuchet MS", Ubuntu, "Droid Sans";
	font-size: 10pt;
	}

strong {
	font-weight: bold;
	}

p {
	-webkit-user-select: text;
	}

a {
	cursor: pointer;
	}
