body > div {
	display: none;
	}

img.avatar {
	border-radius: 3px;
	}

ul.list {

	}
	ul.list li {
		border-bottom: 1px solid silver;
		padding: 5px;
		}
		ul.list li:hover {
			background-color: #f4f4f4;
			}
			ul.list li:hover img.avatar {
				-webkit-box-shadow: white -1px -1px 1px;
				}

div.bar {
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	}
	div.bar.top {

		}

	div.bar.bottom {
		bottom: 0px;
		border-top: 1px solid silver;
		}

	div.bar a {
		text-decoration: none;
		display: block;
		}	
		div.bar a img {
			padding: 0px 5px 0px 5px;
			}

.clearer {
	clear: both;
	}