body > div {
	display: none;
	}

img.avatar {
	border-radius: 3px;
	max-width: 48px;
	}

a.nick, a.hash {
	color: black;
	text-decoration: none;
	background-color: rgba(0, 120, 55, .1);
	padding: 0 3px;
	border-radius: 3px;
	}

.clearer {
	clear: both;
	}

p.loader {
	text-align: center;
	height: 30px;
	background: url('/img/loader.gif') no-repeat center center;
	}

