.toolbar {
	border-bottom: 1px solid white;
	background-color: rgba(0, 0, 0, .1);
	padding: .5em .3em;
	color: black;
	}
	.toolbar a.button {
		text-decoration: none;
		color: white;
		background-color: rgba(0, 0, 0, .5);
		padding: .1em .3em;
		border-radius: 3px;
		margin-right: .2em;
		}
	.toolbar p {
		display: inline;
		float: right;
		}
